PROVIDER=anthropic
MODEL=
API_KEY="sk-...."
# If a non-standard provider base (e.g. using an anthropic provider interface for a non-Anthropic provider)
API_BASE=https://some-alternate-provider-url.example.com
    
    
